.card.mb-3(id="block"+block.block+"chain"+block.chain+"card")
  form.card-body
    .row.mb-3
      label.col-sm-2.col-form-label.text-end.blockResize(for="block"+block.block+"chain"+block.chain+"number") #{("Block:")}
      .col-md-10
        .input-group
          span.input-group-text #{("#")}
          input.form-control(id="block"+block.block+"chain"+block.chain+"number", type="number", value=block.block onchange="updateChain("+block.block+", "+block.chain+");" onkeyup="updateChain("+block.block+", "+block.chain+");")

    .row.mb-3
      label.col-sm-2.col-form-label.text-end.blockResize(for="block"+block.block+"chain"+block.chain+"nonce") #{("Nonce")}:
      .col-md-10
         input.form-control(id="block"+block.block+"chain"+block.chain+"nonce", type="text", value=block.nonce, onkeyup="updateChain("+block.block+", "+block.chain+");")

    .row.mb-3
      label.col-sm-2.col-form-label.text-end.blockResize(for="block"+block.block+"chain"+block.chain+"data") #{("Data")}:
      .col-md-10
        textarea.form-control(id="block"+block.block+"chain"+block.chain+"data", rows="10", onkeyup="updateChain("+block.block+", "+block.chain+");")

    #state.row.mb-3
      label.col-sm-2.col-form-label.text-end.blockResize(for="block"+block.block+"chain"+block.chain+"previous") #{("Prev")}:
      .col-md-10
        input.form-control(id="block"+block.block+"chain"+block.chain+"previous", type="text", value=block.previous, disabled)

    #state.row.mb-3
      label.col-sm-2.col-form-label.text-end.blockResize(for="block"+block.block+"chain"+block.chain+"hash") #{("Hash")}:
      .col-md-10
        input.form-control(id="block"+block.block+"chain"+block.chain+"hash", type="text", disabled)

    .row.mb-3
      .col-sm-2
        i.icon-spinner.icon-spin.icon-large
      .col-md-10
        button.btn.btn-primary.ladda-button(id="block"+block.block+"chain"+block.chain+"mineButton", data-style="expand-right")
          span.ladda-label #{("Mine")}
