doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
    meta(name="description", content="A live blockchain and public / private key pair demo in a browser.")
    meta(name="author", content="Anders Brownworth")
    link(rel="icon", href="/favicon.ico")

    title Blockchain: Public/Private Keys & Signing Demo

    link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css", integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3", crossorigin="anonymous")
    link(rel="stylesheet", href="/stylesheets/lib/ladda-themeless.min.css")
    link(rel="stylesheet", href="/stylesheets/lib/ie10-viewport-bug-workaround.css")
    link(rel="stylesheet", href="/stylesheets/blockchain.css")
    link(rel="stylesheet", href="/stylesheets/lib/bootstrap-horizon.css")
    link(rel="stylesheet", href="/stylesheets/lib/offcanvas.css")

    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js")
    
    script(src="/javascripts/key-sign/lib/js.cookie.min.js")
    script(src="/javascripts/key-sign/lib/BigInteger.min.js")
    script(src="/javascripts/key-sign/lib/Buffer.js")
    script(src="/javascripts/key-sign/lib/elliptic.js")
    script(src="/javascripts/key-sign/lib/spin.min.js")
    script(src="/javascripts/key-sign/lib/ladda.min.js")
    script(src="/javascripts/key-sign/lib/sha256.js")
    script(src="/javascripts/key-sign/blockchain.js")

  body
    nav.navbar.navbar-expand-lg.fixed-top.navbar-dark.bg-dark.bg-gradient.p-3(aria-label="Main navigation")
      .container
        a.navbar-brand.text-capitalized(href="/keys-home") #{("Blockchain: Public/Private Keys & Signing")} 
        button#navbarSideCollapse.navbar-toggler.p-0.border-0(type="button", aria-label="Toggle navigation")
          span.navbar-toggler-icon
        #navbarsExampleDefault.navbar-collapse.offcanvas-collapse
          ul.navbar-nav.ms-auto.mb-0.mb-lg-0
            li.nav-item
              a.nav-link.text-uppercase(class={active: page === "keys"}, class={"text-decoration-underline": page === "keys"}, href="/keys") #{("Keys")}
            li.nav-item
              a.nav-link.text-uppercase(class={active: page === "keys-signatures"}, class={"text-decoration-underline": page === "keys-signatures"}, href="/keys-signatures") #{("Signatures")}
            li.nav-item
              a.nav-link.text-uppercase(class={active: page === "keys-transaction"}, class={"text-decoration-underline": page === "keys-transaction"}, href="/keys-transaction") #{("Transaction")}
            li.nav-item
              a.nav-link.text-uppercase(class={active: page === "keys-blockchain"}, class={"text-decoration-underline": page === "keys-blockchain"}, href="/keys-blockchain") #{("Blockchain")}
            //- li.nav-item
              //- a.nav-link.text-uppercase(class={active: page === "keys-encryption"}, class={"text-decoration-underline": page === "keys-encryption"}, href="/keys-encryption") #{("Encryption")}
            li.nav-item
              a.nav-link.text-uppercase(href="/") #{("Visual Demo")}

    block content
    script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js", integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p", crossorigin="anonymous")
    script(src="/javascripts/lib/offcanvas.js")